{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sole Archive</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon-sa-30x30.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-sa-40x40.png' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav>
    <a href="{% url 'home' %}"><img src="{% static 'images\logo.png' %}" alt="Sole Archive Logo" class="logo"></a>

    <input type="checkbox" id="nav-toggle" class="nav-toggle-checkbox">
    <label for="nav-toggle" class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <div class="nav-right">
        {% if user.is_authenticated %}
            <a href="{% url 'collection_list' %}">My Collection</a>
            <span>Hi, {{ user.username }}</span>
            <form action="{% url 'account_logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        {% else %}
            <a href="{% url 'account_login' %}">Log in</a>
            <a href="{% url 'account_signup' %}">Sign up</a>
        {% endif %}
    </div>
</nav>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Sole Archive. All rights reserved.</p>
    </footer>

</body>
</html>